.group {
}

.issue {
}

.view {
    background-color: lightblue;
}

.group circle {
    fill: #fff1c2;
}

.year_circle {
    stroke-width: 0.2;
    stroke: Red;
    fill: none;
}

.map {
    width: 100%;
    height: 100%;
}
