.group {
}

.issue {
}

.group circle {
    fill: #efefef;
}

.unknown_priority {
    fill: #7e7d7e;
    stroke: white;
}

.minor_priority {
    fill: #13dded;
    stroke: white;
}

.normal_priority {
    fill: #396beb;
    stroke: white;
}

.major_priority {
    fill: #ff7504;
    stroke: white;
}

.critical_priority {
    fill: #E30000;
    stroke: white;
}

.critical_year_circle {
    stroke-width: 0.5px;
    stroke: white;
    fill: none;
}

.year_circle {
    stroke-width: 0.5px;
    stroke: Red;
    fill: none;
}

.map {
    width: 100%;
    height: 100%;
}
